:root {
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--slate-300);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.qr-code-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 10px;
    width: 25%;
    height: auto;
    box-shadow: 0 8px 36px 0 var(--slate-500);
}

.tagline, .call-to-action {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 15px;
}


.tagline {
    font-weight: 700;
}

.call-to-action {
    font-weight: 400;
}